[submodule "pack/plugins/start/commentary"]
	path = pack/plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/plugins/start/lsp"]
	path = pack/plugins/start/lsp
	url = https://github.com/yegappan/lsp
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "pack/plugins/start/vimwiki"]
	path = pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
